/* 4. Section Regular customers */
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;

    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
}

.clients__list {
    margin: 0px;
    padding: 0px;

    display: flex;
}

.clients__item:not(:last-child){
    margin-right: 30px;
}

.clients__link {
    margin: 0px;
    padding: 0px;

    width: 170px;
    height: 92px;

    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    fill: #AFB1B8;

    transition: 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
    fill: var(--accent-text-color);
    border-color: var(--accent-text-color);
    }
}