/* 3. Section Our team */
.team {
    background-color: var(--team-section-bg-color);

    padding-top: 94px;
    padding-bottom: 94px;
}

.team__title {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
    margin-top: 0px;
}

.team__list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;

    display: flex;
}

.team__item {
    background: #FFFFFF;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
    margin-right: 30px;
}

.team__container {
    text-align: center;

    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.team__position {
    color: var(--second-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    margin-top: 0px;
    margin-bottom: 16px;
    padding-bottom: 0px;
}

/* Соціальні мережі */
.team__social-list {
    padding: 0px;
    padding-left: 0px;
    margin: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.team__social-item {
    margin: 0px;
    padding: 0px;

    width: 44px;
    height: 44px;

    background-color: #FFFFFF;
}

.team__social-item:not(:last-child) {
    margin-right: 10px;
}

.team__social-link {
    padding: 0px;
    margin: 0px;

    width: 44px;
    height: 44px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    fill: #AFB1B8;
    
    transition: 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    fill: var(--white-text-color);
    background-color: var(--accent-text-color);
    }
}