:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-text-color: #2196F3;

    --header-bg-color: #FFFFFF;
    --hero-bg-color: #2F303A;
    --benefits-section-bg-color: #FFFFFF;
    --team-section-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --body-bg-color: #FFFFFF;

    --portfolio-main-bg-color: #FFFFFF;
}


body {
    color: var(--primary-text-color);
    background-color: var(--body-bg-color);
    
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}